*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main_box {
    background: url('images/brent-ninaber-DiMBNoB4iWU-unsplash.jpg');
    height: 100vh;
    background-size: cover;
}

.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(255, 255, 255,0.1);
    box-shadow: 0 0 4px rgb(255,255, 255,0.5);
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
}
.sidebar_menu .logo a{
    position: absolute;
    left: 60px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.sidebar_menu .btn_two i{
    color: gray;
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    left: 270px;
    /* opacity: 0; */
    cursor: pointer;
}
.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 80px
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 15px 20px;
}
.sidebar_menu .menu li a{
    color: white;
    text-decoration: none;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 20px;


}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0px 5px;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 48px rgb(255, 255, 255,0.1);
    width: 100%;

}
.btn_one:hover i{
    font-size: 40px;
}
.btn_two:hover i{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(2);
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
#check:checked ~.btn_one i{
    opacity: 0;
}